@page "/"
@inject IJSRuntime JsRuntime

<PageTitle>Calculadora</PageTitle>

<div class="container flex-xs flex-xs-center">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-block mt-4">
        <Result Expression="@expression"/>
        <div class="form-group">
          <input id="answer" type="text" class="form-control" readonly>
        </div>
        <div>
          <div class="flex-xs flex-xs-around my-1">
            <input type="button" value="C" @onclick="() => {clearExpression();}"class="btn btn-accent width-50">
            <input type="button" value="/" @onclick="() => {assembleValue('/');}"class="btn btn-primary width-25">
            <input type="button" value="*" @onclick="() => {assembleValue('*');}" class="btn btn-primary width-25">
          </div>
          <div class="flex-xs flex-xs-around my-1">
            <input type="button" value="7" @onclick="() => {assembleValue('7');}" class="btn btn-primary width-25">
            <input type="button" value="8" @onclick="() => {assembleValue('8');}" class="btn btn-primary width-25">
            <input type="button" value="9" @onclick="() => {assembleValue('9');}" class="btn btn-primary width-25">
            <input type="button" value="-" @onclick="() => {assembleValue('-');}" class="btn btn-primary width-25">
          </div>
          <div class="flex-xs flex-xs-around my-1">
            <input type="button" value="6" @onclick="() => {assembleValue('6');}" class="btn btn-primary width-25">
            <input type="button" value="5" @onclick="() => {assembleValue('5');}" class="btn btn-primary width-25">
            <input type="button" value="4" @onclick="() => {assembleValue('4');}" class="btn btn-primary width-25">
            <input type="button" value="+" @onclick="() => {assembleValue('+');}" class="btn btn-primary width-25">
          </div>
          <div class="flex-xs flex-xs-around my-1">
            <input type="button" value="3" @onclick="() => {assembleValue('3');}"class="btn btn-primary width-25">
            <input type="button" value="2" @onclick="() => {assembleValue('2');}" class="btn btn-primary width-25">
            <input type="button" value="1" @onclick="() => {assembleValue('1');}" class="btn btn-primary width-25">
            <input type="button" value="😉" @onclick="@Irra" class="btn btn-primary width-25">
          </div>
          <div class="flex-xs flex-xs-around my-1">
            <input type="button" value="0" @onclick="() => {assembleValue('0');}" class="btn btn-primary width-25">
            <input type="button" value="." @onclick="() => {assembleValue('.');}" class="btn btn-primary width-25">
            <input type="button" value="=" @onclick="@EvaluateCalc" class="btn btn-success width-50">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

@code {
  public string expression = "";

  @* Adiciona os valores na variável *@
  public void assembleValue(char value)
  {
    expression += value;
  }

  @* Limpa cálculo *@
  public void clearExpression() {
    expression = String.Empty;
    StateHasChanged();
  }

  @* Realiza o cálculo passado *@
  async Task EvaluateCalc() 
  {
    await JsRuntime.InvokeVoidAsync(identifier: "evalCalc", "answer", expression);
  }

  @* Só ignora isso aqui, UI things *@
  async Task Irra()
  {
    await JsRuntime.InvokeVoidAsync(identifier: "voceNaoViuNada");
  }
}