@using System.Linq.Expressions
<div class="form-group">
    <InputText class="form-control input-code" placeholder="Insira cálculo aqui..." Value=@Expression ValueChanged=ExpressionChanged ValueExpression=ExpressionExpression />
</div>

@code {
    [Parameter]
    public string Expression { get; set; } = string.Empty;

    [Parameter]
    public EventCallback<string> ExpressionChanged { get; set; }

    [Parameter]
    public Expression<Func<string>>? ExpressionExpression { get; set; }
}